/*忘记密码*/

.forgetpwd-wrap .forgetpwd-form { background: url(assets/global/member/lost.png) no-repeat; height: 573px; width: 780px; margin: 80px auto 0px auto; }
.forgetpwd-wrap .forgetpwd-form .find-password { height: 500px; width: 700px; margin: 40px 0px 0px 40px; float: left; display: inline }
.forgetpwd-wrap .forgetpwd-form .find-password dl dt { font-size: 26px; font-weight: 300; color: #333; font-family: '微软雅黑'; }
.forgetpwd-wrap .forgetpwd-form .find-password dl dd { width: 560px; height: 50px; float: left; margin-left: 150px; clear: both; margin-top: 20px; display: inline }
.forgetpwd-wrap .forgetpwd-form .find-password dl dd input { float: left }
.forgetpwd-wrap .forgetpwd-form .find-password dl dd input.text { width: 260px;  border: 1px solid #dddddd; text-indent: 5px; float: left;height:50px;height:38px;
}
.forgetpwd-wrap .forgetpwd-form .find-password dl dd input.nextsetp { background: none; background: url(assets/global/member/next.png) no-repeat; text-indent: -9999px; cursor: pointer; border:none;height:48px;}
.forgetpwd-wrap .forgetpwd-form .find-password dl dd input.validcode { width: 98px; height: 38px; border: 1px solid #dddddd; text-indent: 5px; *line-height: 38px
}
.forgetpwd-wrap .forgetpwd-form .find-password dl dd input.validcode_err { border: 2px solid #e02828; margin-top: -1px; margin-left: -1px; }
.forgetpwd-wrap .forgetpwd-form .find-password dl dd img { float: left; margin-left: 5px; margin-top: 5px; }
.forgetpwd-wrap .forgetpwd-form .find-password dl dd a.submit { display: block; background: url(assets/global/member/mail-to-valid.png) no-repeat; width: 260px; height: 45px; }
.forgetpwd-wrap .forgetpwd-form .find-password dl dd a.submitreset { display: block; margin-left: 65px; background: url(assets/global/member/reset-passwd.png) no-repeat; width: 260px; height: 45px; }
.forgetpwd_a1 { float: left; margin-top: 10px; margin-left: 10px; color: #0066CC; }
.forgetpwd-wrap .forgetpwd-form .find-password dl dd span { float: right; }
.forgetpwd-wrap .forgetpwd-form .find-password dl dd.border { font-weight: bold; margin: 15px 0 10px 0; }
.forgetpwd-wrap .forgetpwd-form .find-password dl dd i { color: red; }
.forgetpwd-wrap .forgetpwd-form .find-password dl .lost-timeline { background-image: url(assets/global/member/lost-timeline.png); background-repeat: no-repeat; height: 30px; margin-top: 10px; clear: both; }
.forgetpwd-wrap .forgetpwd-form .find-password dl .yd1 { background-position: 10px -20px; }
.forgetpwd-wrap .forgetpwd-form .find-password dl .yd2 { background-position: 10px -78px; }
.forgetpwd-wrap .forgetpwd-form .find-password dl .yd3 { background-position: 10px -140px; }
.forgetpwd-wrap .forgetpwd-form .find-password dl .yd4 { background-position: 10px -205px; }
.forgetpwd-wrap .forgetpwd-form .find-password dl dd span.yd-text { float: left; margin-right: 20px; font-size: 14px; color: #999; }
.forgetpwd-wrap .forgetpwd-form .label { width: 80px; display: block; float: left; height: 38px; font-size: 14px; line-height: 38px; color: #666; }
.forgetpwd-wrap .forgetpwd-form .active-ok { width: 60px; height: 40px; display: block; background: url(assets/global/member/active-ok.png) no-repeat; float: left; }
.hpz_login_message { width: 220px; height: 50px; float: right; }
.hpz_login_message span { width: 190px; height: 30px; float: left; border-radius: 2px; line-height: 30px; margin-top: 5px; margin-left: 5px; color: #666666; display: none }
.login_message span { width: 170px; height: 30px; float: left; border-radius: 2px; line-height: 30px; margin-top: 18px; margin-left: 5px; color: #E02828; overflow: hidden; }
.login_message span em { float: left; font-style: normal; margin-left: 5px; font-size: 12px }
.hpz_login_mes1 { }
.hpz_login_mes2 { }
.hide { display: none; }
.tip { display: block; }