@charset "utf-8";

.intro { padding-left: 6px; color: #888; font-weight:100;}
.xtable th { text-align: right; padding: 5px; }
.xtable td { padding: 5px; }
.usermain { overflow: hidden; margin-top:15px;}

.usernav { border: #CDCDCD 1px solid; background: #E8F0F7; }
.usernav dl { margin-bottom: 10px; padding-bottom: 10px; }
.usernav dl dt { height: 30px; line-height: 30px; padding: 0 10px; background: #f2f2f2; overflow: hidden; border-bottom: #CDCDCD 1px solid; margin-bottom: 10px; }
.usernav dl .t2 { border-top: #CDCDCD 1px solid; }
.usernav dl dt .t { float: left; }
.usernav dl dd { line-height: 30px; padding: 0 10px; }
.usernav dl dd a { display: block; padding-left: 30px; border-bottom: #ddd 1px dashed; font-size: 14px; }
.userbox { border: #CDCDCD 1px solid; }
.userbox .tit { height: 30px; line-height: 30px; padding: 0 10px; background: #f2f2f2; overflow: hidden; border-bottom: #CDCDCD 1px solid; }
.userbox .tit .t { float: left; }
.userbox .con { padding: 10px; }
.userbox .con li { line-height: 26px; }
.userinfo .face { width: 120px; vertical-align: top; padding-top: 10px; text-align: center; line-height: 35px; border: 1px solid #CCC;}
.userinfo .info { vertical-align: top; font-size: 12px; color: #666; line-height: 22px; padding-left: 10px; }
.userinfo .uname { width: 640px; height: 30px; }
.userinfo .uname b { padding-left: 10px; font-size: 20px; font-weight: normal; color: #333; line-height: 30px; }
.money { font-size: 16px; font-family: Arial; }
.myarticle { }

.myarticle dt { font-size: 18px; line-height: 35px; color: #09e; overflow: hidden; }
.myarticle dt small { font-size: 16px; }
.myarticle dt .more { float: right; }
.myarticle dt .more a { color: #0ae; font-size: 14px; }
.myarticle dd { line-height: 24px; overflow: hidden; border-bottom: #ddd 1px dashed; background: url(arrow.jpg) no-repeat left center; padding-left: 20px; }
.myarticle dd .pubdate { float: right; color: #888; }
.myarticle .more { line-height: 30px; text-align: right; padding-right: 30px; }
.myarticle .more a { text-decoration: underline; }
.info dd{line-height:24px;margin-bottom:2px;}

.recommend { float: left; width: 400px; }
.recommend_s { float: left; width: 140px; }



/*
 * Login
 */

.login td { padding: 5px 0; }
.inp{width:300px;}
.pagebox { border: #ddd 1px solid; }
.pagebox .tit { padding: 10px 20px; border-bottom: #ddd 1px dashed; }
.pagebox .tit h2 { font-size: 16px; }
.pagebox .tit p { font-size: 14px; }
.pagebox .tit p a { text-decoration: underline; }
.pagebox .con { padding: 20px; }

.submit, .reset { padding: 4px 18px; }
.reset { margin-left: 5px; }

.logo{width:180px;}
.bd{background:#fff;}

.userinfo dd{height:24px;margin-bottom:3px;line-height:24px;padding-left:50px;font-weight:600;}
.userinfo dd span{margin-left:15px;font-weight:100;}
.intro{color:#F00;}
.ajax{width:430px;margin:0 auto;border:8px solid #f5f5f5;background:#fff; border-radius:8px;}











