@charset "utf-8";
* {  outline: none;}
td, input, textarea, select, button { color: #555; font: 12px "Lucida Grande", Verdana, Lucida, Helvetica, Arial, 'Simsun', sans-serif; }
ul, dl, dd, p, h1, form, fieldset { margin: 0; padding: 0; }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 12px; }
a img { border: none; }
em, cite, th { font-style: normal; font-weight: normal; }

ul li, li { list-style: none; }
.z { float: left; }
.y { float: right; }
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.cl { zoom: 1; }
.vm { vertical-align: middle; }
.vm * { vertical-align: middle; }
.clear { clear: both; height: 0; line-height: 0; font-size: 0; }

a:hover { text-decoration: none; }
.txt{height:auto;}


table { border-collapse: collapse; }
th { text-align: left; }
label,.pointer { cursor: pointer; }

.commission{color:#F00;}


.table_main {   min-height:600px;padding-left:10px;}
.table_top { padding: 10px 0;padding-left: 25px;height: 20px;line-height: 20px;background:  #f3f3f3;border-bottom: 1px solid #dedede;}
.table_top_l{padding:0 50px 0 15px;float:left;}
.table_top_r{float:left;}
.table_top_r ul li {float:left;margin-right:10px;}
.table_top_r ul li.on a{color:#00ADF3;}
.highlight { color: #C00; font-weight: 700; }

.right_bar{float:right;margin-right:30px;}
.right_bar a{color:#900;}
.right_bar ul li {float:left;padding:2px 5px;margin-right:5px;}
.menutd_fixed .right_bar{margin-right:200px;}
/* form */
textarea,input,select,.html { padding:5px 2px; border: 1px solid; border-color: #666 #ccc #ccc #666; background: #F9F9F9; color: #333; }
input.dateline,select{padding:2px;}
.txt, select, .vmiddle { vertical-align: middle; }
.txt:hover, .txt:focus, textarea:hover, textarea:focus { border-color: #2997dd; background: #F5F9FD; border-radius:4px }
.hover:hover { background: #ebebeb; }
.hover:hover .addchildboard, .hover:hover .deleterow { color: #F5F9FD; }
.txtnobd { border: 1px solid #FFF; background: #FFF; cursor: pointer; }
.radio, .checkbox, .pr, .pc { border: none; background: none; vertical-align: middle; }
.checkbox { height: 14px; }
.btn,.btn2 {padding: 2px 30px;margin-right: 7px;height: 32px;line-height: 24px;color: #FFF;font-family: Microsoft Yahei,SimSum,Arial,STHeiti;
border-radius: 3px;background: #00ADF3;border: 0;cursor: pointer;font-size:14px;}
.btn:hover,.btn2:hover{background:#4E8DE5; border-radius:6px;color:#EEE;}




.select_price_btn {font-weight:100;}
.infobox { clear:both; margin-bottom:10px; padding:30px; line-height:30px;font-size:14px;text-align:center; border-top:1px solid #FFF; border-bottom:1px solid #DDD; background:#F5F5F5; zoom:1; }
.infobox p{font-weight:100;color:#03C;border-bottom: 1px dotted #CCC;}
.mask { background:#fff;}
.team a { float: left; width: 33%; }


/* tab */
.tab1 { overflow: hidden; clear: both; margin-bottom: 10px; }
.tab1 li { float: left; margin-right: 3px; text-align: center; font-weight: 700; }
.tab1 a { display: block; line-height: 26px; color: #666; white-space: nowrap; }
.tab1 a span { display: block; padding: 0 7px; }
.tab1 a:hover { text-decoration: none; background: url(assets/admin/images/btn_block_2.gif) no-repeat 0 -52px; color: #09C; }
.tab1 a:hover span { display: block; background: url(assets/admin/images/btn_block_2.gif) no-repeat right -78px; }
.container { padding: 0 5px; text-align: left; }
.itemtitle { clear: both; overflow: hidden; line-height: 20px; padding: 10px 0 10px 10px; background:#f3f3f3;border-bottom: 1px solid #FFF; }
.itemtitle h3 { float: left; margin-right: 20px; }
.itemtitle ul { float: left; line-height: 18px; }
.itemtitle .tab1 { clear: none; }
.itemtitle .tab1 a { line-height: 20px; }
.itemtitle .tab1 a span { padding: 0 7px; *padding:1px 7px 0;}
.itemtitle .tab1 a:hover { background: #F5F5F5 url(assets/admin/images/btn_block_3.gif) no-repeat 0 -40px; color: #09C; }
.itemtitle .tab1 a:hover span { background: url(assets/admin/images/btn_block_3.gif) no-repeat right -60px; }
.itemtitle .tab1 .hasdropmenu a:hover { color: #666; }
.itemtitle .tab1 .current a { background: url(assets/admin/images/btn_block_3.gif) no-repeat 0 0 !important; }
.itemtitle .tab1 .current a span, .itemtitle .tab1 .current a:hover span { background: url(assets/admin/images/btn_block_3.gif) no-repeat right -20px; color: #FFF; }
.itemtitle .tab1 .dropmenu a { background: none !important; }
.itemtitle .tab1 .dropmenu a:hover, .itemtitle .tab1 .dropmenu a.current { background: #DEEFFA !important; }


/* table */
.tb2 .tips { margin-left:15px; color:#999; }
.tb2 .tips2 { line-height:180%; color:#999; word-break:break-all; padding-left:100px;}
.tb2 .tips2:hover{color:#000;}
.tb2 .tb2 .tipsblock { background:none; margin-bottom:-10px; }

.tb2 .tipsblock ul { margin-bottom:-11px; }
.tb2 .tipsblock li { margin-bottom:5px; padding:0 0 5px 20px; line-height:160%; background:url(bg_repno.gif) no-repeat -340px 6px; }
.tb2 .tips2 a,.tb2  .tipsblock a { margin:0 3px; text-decoration:underline; color:#666; }
.tb2 .tips2 a:hover,.tb2 .tips2:hover .tb2  .tipsblock a:hover { color:#09C; }
.tb { clear: both; width: 100%; margin-top: 8px; }
.tb th, .tb td { height: 34px; }


/* tb */
.tb2 { }
.tb2 tr.hover:hover .tips2 { color: #333; }
.tb2 tr.hover:hover td { background: #ececec; }
.tb2 tr.hl { background: #FFFAF3; }
.tb2 tr.hl td { border-top: 1px #F4E4B4 solid; border-bottom: 1px #dedede solid }
.tb2.tdhover tr:hover td { background: none; }
.tb2.tdhover tr td:hover { background: #ececec; }
.tb2 td { border-top: 1px dotted #dedede ;}

.td25 .txt { width: 40px; }
.nowrap { white-space: nowrap; }
.rowform { width: 420px;  padding:2px;}
.rowform .txt {  width: 300px; }
.rowform .tarea { margin-right: 10px; }
.rowform select { margin-right: 10px; width: 256px; }
.rowform li { overflow: hidden; float: left; margin-right: 10px; white-space: nowrap; cursor: pointer; }
.rowform .clear { clear: both; float: none; margin-bottom: 10px; }
.rowform .nofloat { clear: both; }
.rowform .nofloat li { float: none; margin: 5px 0; overflow: visible; }
.files { padding: 1px 0 1px 50px; background: url(assets/admin/images/bg_repno.gif) no-repeat -260px -150px; }
.del { padding-bottom: 1px; padding-left: 18px; background: url(assets/admin/images/bg_repno.gif) no-repeat 0 -285px; *background:url(assets/admin/images/bg_repno.gif) no-repeat 0 -286px;
color: #E8594D; background: none!important; border: none!important; }
.node, .board { padding-left: 55px; background: url(assets/admin/images/bg_repno.gif) no-repeat -240px -550px; }
/* pages */



.pg a, .pg strong, .pgb a, .pg label{padding: 5px 8px!important;}

.cuspages { margin: 3px 0; line-height: 200%; }
.cuspages .pg { display: inline; clear: none; margin-right: 10px; }
.fixsel select { margin: 3px 5px 3px 0; }
.td_l { width: 150px; }

.red,a.red,.tb2 .tips2 a.red, .tb2 .tipsblock a.red { color: #00ADF3;}

.td25{width:60px;}
.w40 { width: 40px!important; }
.w90 { width: 90px!important; }
.w200{ width: 200px!important; }


.lightlink { color:#666; text-decoration:underline; }
.infotitle3{color:#F00;font-size:14px;}
.copyright{padding:0 10px;line-height:22px;}
.copyright p{line-height:22px;font-size:10px;}
.kg_datePicker{width:150px;}


.uz_system_debug {margin-left:160px;}
.admin_msg{margin: 0 auto;font-size: 20px;color:#F00;font-weight:600;width:800px;padding:5px;}
.menutd_fixed .menutd {position: fixed;top: 0;left: 0;height:100%;z-index:99999;}
.menutd_fixed .admin_msg{padding-left:160px;}
.menutd_fixed .uz_system_debug{margin-left:160px;}
.menutd_fixed .mask{ padding-left:160px;}
.menutd_fixed .itemtitle{position: fixed;top: 0;left: 160px;width:100%;z-index:1;border-bottom: 3px solid #DDD;}

.admin_main{padding-bottom:80px;}



.posd_dp{ z-index:1;background:#fff;width:460px;padding:10px;}
.post_dpm{	z-index:1;left:300px;top:120px;}
.dp_m{margin:4px 0;}
.dp_m .left_title{float:left;width:80px;color:#000;}
.dp_m .right_con{float:left;width:360px;}
.posd_dp .txt{width:270px;height:20px;line-height:20px;}


.admin_aitao .post_dpm  table td{background:#000;border-top:none;}
.admin_aitao .post_dpm  table td.m_c{background:#fff;border-top:none;}

.menu_aitao{position: fixed;left: 0;top: 0;z-index: 99999;border-right: 1px dotted #C4DDEE;}
.admin_aitao{background:#fff;}
.admin_aitao table td ,.admin_aitao table th{background:none;padding:0;border:none;border-top: 1px dotted #C4DDEE;}
.admin_aitao .tb2 .tips2{padding-left:0;}
.admin_aitao  .td25{width:auto;}
.admin_aitao table td.menu_aitao{background: #F2F9FD url(assets/admin/images/bg_repx_h.gif) right top no-repeat;}
.location  .menu_aitao{position: inherit;}



.menutd{background:#f3f3f3;width:160px;}

.menu{border-right: 1px solid #dedede;width:160px;}

.menu ul li a {background:none;display: block; padding-left: 40px;
font-size: 15px;border-top: 1px solid #fff;border-bottom: 1px solid #dedede;}
.menu ul.on a,.menu ul li a:hover {background:#ececec;color:#00ADF3;}
.check_friend_link{margin: 3px 0;padding: 5px 10px;border-color: #DDD #666 #666 #DDD;background: #DDD;color: #000;cursor: pointer;vertical-align: middle;}


.menu ul li a{height:30px;line-height:30px;}
.rowform select.check_select{background:#ddd;}
.ddd{background:#ddd;}
.partition{background:#eee;text-indent:5px;}

.count_tab li{width:120px;height: 30px;line-height: 30px;text-align: center;background: #ccc;float: left;color:#000;margin-right: 5px;cursor: pointer;;}
.count_tab li a{width: 100%;height: 100%;display: block;}
.count_tab li.on a{background: #000;color: #fff;}















